<%= form_for @pig do |f| %>
<div class='well'>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :birthdate %>
      <br>
      <div class="input-group date" id="datetimepicker">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <%= f.text_field :birthdate, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :starting_weight %>
      <br>
      <%= f.number_field :weight_at_beginning, step: 0.5 %>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :cost %>
      <br>
      <%= f.number_field :cost, step: 0.5 %>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :cause_of_death %>
      <br>
      <%= f.select :cause_of_death, [['Still living', nil], ['Slaughtered', 'slaughtered'], ['Disease', 'disease']] %>
    </div>
  </div>
  <div class="row">
    <div class='form-group col-lg-2'>
      <%= f.label :batch %>
      <br>
      <%= f.collection_select :batch_id, Batch.all, :id, :name %>
    </div>
  </div>
  <%= f.submit(@pig.new_record? ? "Add pig" : "Update pig", class: 'btn btn-success')%>
  <% end %>
