<ol class='breadcrumb'>
  <li><%= link_to 'Batches', batches_path %></li>
  <li class='active'>Create new batch</li>
</ol>

<div class='well'>
  <%= form_for @batch do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class='form-group'>
    <%= f.label :date %>
    <br>
    <%= f.text_field :date, "data-provide" => 'datepicker' %>
  </div>
  <%= f.submit(@batch.new_record? ? "Create New Batch" : "Update Batch", class: 'btn btn-success') %>
  <% end %>
</div>
