<ol class='breadcrumb'>
  <li><%= link_to 'Batches', batches_path %></li>
  <li class='active'><%= @batch.name %></li>
</ol>


<div class='well'>
  <dl>
    <dt>Batch Name</dt>
    <dd><%= @batch.name %></dd>

    <br>

    <dt>Batch Start Date</dt>
    <dd><%= date_time_format(@batch.date) %></dd>

    <br>

    <%= link_to new_pig_path(batch: @batch) do %>
    <i class='glyphicon glyphicon-plus'></i> Add a pig
    <% end %>

    <dt>Pigs in Batch</dt>
    <table class='table table-striped table-hover table-bordered'>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <% @batch.pigs.each do |pig| %>
      <tr>
        <td><%= link_to pig.name, pig_path(pig) %></td>
        <td><%= time_ago_in_words(pig.birthdate) %></td>
        <% end %>
      </tr>
    </table>
    <dt>Feedings in Batch</dt>
    <table class='table table-striped table-hover table-bordered'>
      <tr>
        <th>Date</th>
        <th>Feed Type</th>
        <th>Quantity</th>
      </tr>
    </table>
  </dl>
</div>
